/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%;  -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */
/*
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }*/

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
	overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

html{
	background: #fee624 url("../img/corp/jpg/yellow-gradient-bg.png") center top no-repeat;
	/*border-top: 9px solid #000;*/
	/*min-width: 790px;*/
	width: 100%;
}

body{
	font-family: "ff-meta-serif-web-pro", "Times New Roman", "Times", serif;
	/*margin-top: 5px;
	border-top: 1px dashed #000;*/
	padding-bottom: 30px;
	/*min-width: 790px;*/
	width: 100%;
}
.btop{
	border-top: 9px solid black;
}

.wf-loading body{
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
ul{
	list-style: none;
}

#internship{
	background-color: black;
	/*height: 125px;
	padding-top: 57px;
	*/
	height: 170px;
	text-align: center;
	color: #fee624;
	display: table;
	width: 100%;
}
.internship-container{
	display: table-cell;
	vertical-align: middle;
}
#internship h2{
	font-size: 2.9em;
	margin: 0;
}
#internship h3{
	font-size: 1.8em;
	font-weight: normal;
	margin: 0;
}
a.internship-link, a.internship-link:visited{
	color: #fee624;
}
a.internship-link:hover{
	color: #fee624;
	text-decoration: none;
}

#container{
	/*width: 790px;*/
	text-align: center;
	margin: 5px auto 0;
	position: relative;
	border-top: 1px dashed black;
}
#h1-txts{
	display: none;
}
h1{
	font-size: 38px;
	font-weight: bold;
	max-width: 710px;
	margin: 38px auto 47px;
}
.logo-x3{
	width: 122px;
	height: 123px;
	background: url('../img/corp/jpg/icons.png') no-repeat -30px -53px;
	margin: 74px auto 0;
}
p{
	margin-top: 85px;
	font-size: 18px;
	color: #6c681c;
	line-height: 24px;
}
p span{
	font-weight: bold; 
}
a, a:visited {
	color: #6c681c;
}
a:hover {
	color: #000000;
}
footer {
	position:relative;
	max-width: 790px;
	margin: -45px auto 0;
	overflow:hidden;
	height:40px;
	padding-top: 55px;
}
ul{
	height: 40px;
	position: relative;
	float: left;
	/*width: 202px;*/
	/*background: url('../images/icons.png') no-repeat 0 -228px;	*/
}
ul li{
	display: inline-block;
	margin-right: 11px;
	position: relative;
}
ul li:last-child{
	margin-right: 0;
}
ul li:after{
	border-top: 1px dashed #b1a31d;
	content: "";
	display: inline-block;
	height: 1px;
	width: 13px;
	left: 41px;
	position: absolute;
	top: 20px;
}
ul li:last-child:after{
	display: none;
}

.dashed-line{
	width:50%;
	border-top: 1px dashed #b1a31d;
	float: left;
	height: 1px;
	margin-top: 20px;
}
.dashed-line:first-child{margin-left:-74px}
.dashed-line:last-child{margin-right:-75px}
/*ul:after{
	width:37%;
	border-top: 1px dashed #b1a31d;
	content: "";
	display: inline-block;
	height: 1px;
	position: absolute;
	top: 20px;	
	right: 0;
}

/*ul li:first-child:before{
	width:292px;
	border-top: 1px dashed #b1a31d;
	content: "";
	display: inline-block;
	height: 1px;
	position: absolute;
	top: 20px;	
	left: -292px;
}*/
/*ul:before{
	width:100%;
	border-top: 1px dashed #b1a31d;
	content: "";
	display: inline-block;
	height: 1px;
	position: absolute;
	top: 20px;	
	left: 0;
}*/

ul a{
	width: 40px;
	height: 40px;
	background: url('../img/corp/jpg/icons.png') no-repeat 0 0;
	opacity: 0;
   	filter: alpha(opacity=0); 
}
.hover-eff{
	width: 40px;
	height: 40px;
	background: url('../img/corp/jpg/icons.png') no-repeat 0 0;
	position: absolute;	
	top:0;
	left:0;
	z-index: -1;
}
.facebook{
	background-position: 0 0;
}
.facebook-hover{
	background-position: 0 -176px;
}
.twitter{
	background-position: -54px 0;
}
.twitter-hover{
	background-position: -54px -176px;
}
.email{
	background-position: -108px 0;
}
.email-hover{
	background-position: -108px -176px;
}
.phone{
	background-position: -162px 0;
}
.phone-hover{
	background-position: -162px -176px;
}
.tooltip{
	position: absolute;
	display: none;
	font-size: 14px;
	color: #FFF;
	padding: 8px 10px 6px;
	top: -47px;
	background-color: #000;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	white-space: nowrap;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4); 
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.tooltip:after{
	content: '';
	position: absolute;
	top:31px;
	left: 10px;
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url('../img/corp/jpg/icons.png') no-repeat 0 -228px;	
}
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 960px) {
	#internship{
		height: 145px;
		/*height: 95px;
		padding-top: 41px;*/
	}
	#internship h2{
		font-size: 2.4em;
	}
	#internship h3{
		font-size: 1.4em;
	}
}
@media only screen and (max-width: 768px) {
	h1{
		font-size: 2.4em;
	}
	.logo-x3{
		margin: 40px auto 0;
	}	
	#internship{
		height: 145px;
		/*height: 115px;
		padding-top: 30px;*/
	}	
}

@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  html,body{
  	min-width: 100%;
  }
	h1{
		font-size: 1.2em;
		margin: 15px 0;
	}
	
	.logo-x3{
		margin: 10px auto 0;
	}
	p{
		margin-top: 40px;
		font-size: 0.9em;
		color: #6c681c;
		line-height: 100%;
	}
	footer{
		margin: 30px auto 0;
		padding: 0;
	}
	#internship{
		height: 70px;
		/*height: 60px;
		padding-top: 10px;*/
	}
	#internship h2{
		font-size: 1.3em;
	}
	#internship h3{
		font-size: 1em;
	}	
}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}